$primary-color: #091329;
$primary-light-color:#37C4E9;
$secondary-color:white;
$background-color:#202020;


$sideBarWidth:7rem;
$normalFontSize:1.2rem;
$headerTop:4rem;
header {
    background: black;
    height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    nav{
        display: flex;
        justify-content: space-between;
        height: 100%;
        .part{
            align-self: center;
            a{
                margin-right: 1rem;
            }
        }
    }
}
.body {
    display: flex;
    .side-bar{
        width: $sideBarWidth;
        background: black;
        position: fixed;
        height: 100vh;
        padding-top: $headerTop;
        
        .side-bar-content{
            overflow-y: auto;
            height: 100%;
            &::-webkit-scrollbar{
                width: 0px;
                background: transparent;
            }
            .side-bar-item{
                width: $sideBarWidth;
                height: $sideBarWidth;
                align-items: center;
                display: flex;
                justify-content: center;
                cursor: pointer;
                border-top: 1px solid white;
    
                svg{
                    path{
                        stroke:'white';
                    }
                }
            }
        }
      
    }
    .content{
        // background-color: $background-color;
        width: 100%;
        margin-left: $sideBarWidth;
        background-color: #fafafa;
        .content-header{
            height: $headerTop;
            align-items: center;
            
            padding: 0px 20px;
            .header-greeting{
                font-size: 20px;
                text-decoration: underline;
            }
            .header-toolbar{
                // display: flex;
                font-size: 15px;
                color: #afafaf;
                span{
                    margin-left: .5rem;
                    cursor: pointer;
                }
            }
        }
        .content-body{
            height: calc(100vh - 4rem);
            .chart-body{
                height: 100%;
                .algo-list{
                    margin: 0px .4rem .4rem .4rem;
                    .algo-list-header{
                        font-size: 30px;
                        text-align: center;
                        margin-bottom: 1rem;
                    }
                    .algo-list-body{
                        overflow-y: auto;
                        height: calc(100vh - 5rem - 30px);
                        &::-webkit-scrollbar{
                            width: 0px;
                            background: transparent;
                        }
                        .algo-list-content{
                            .algo-list-item{
                                padding:.5rem;
                                margin-bottom: .5rem;
                                border:1px solid;
                                min-width: 17rem;
                                cursor: pointer;
                                background-color: white;
                                &.sell{
                                    border-color: #73C6BE;
                                }
                                &.buy{
                                    border-color: #C67373;
                                }
                            }
                        }
                        
                    }
                }
                .chart-panel{
                    border: 1px solid #aeaeae;
                    width: 100%;
                }
            }
            .market-body{
                border-top: 1px solid #aeaeae;
                margin: 0px;
                .market-quotes{
                    background-color: white;
                    // margin-left: 1rem;
                    border-left: 1px solid #aeaeae;
                    border-right: 1px solid #aeaeae;
                    padding: .5rem;
                    text-align: -webkit-center;
                    font-size: 20px;
                    .market-quotes-button{
                        width: 10rem;
                        border: 1px solid #aeaeae;
                        margin-top: 1rem;
                        border-radius: 1rem;
                        font-size: 15px;
                        background-color: #fafafa;
                        cursor: pointer;
                        &:hover{
                            background-color: #B6E0DD33;

                        }
                    }
                }
                .market-list{
                    // margin-left: 1rem;
                    height: calc(100vh - 4rem);
                    padding: .5rem;
                    .market-list-row{
                        overflow-y: auto;
                        height: 100%;
                        margin: 0px;
                        .market-list-panel{
                            padding: .5rem;
                            .market-list-panel-content{
                                background-color: white;
                                border-radius: 1rem;
                                padding: .5rem;
                                .market-list-panel-header{
                                    margin-bottom: .5rem;
                                    font-size: 25px;
                                    font-weight: 700;
                                }
                                .market-list-panel-item{
                                    border-radius: 1rem;
                                    border: 1px solid #aeaeae;
                                    background-color: white;
                                    padding: .5rem;
                                    margin-bottom: .5rem;
                                    align-items: center;
                                    cursor: pointer;
    
                                    .market-list-panel-item-title{
                                        align-items: center;
                                        .market-list-panel-item-title-img{
                                            margin-right: 0.3rem;
                                        }
                                        .market-list-panel-item-title-str{
                                            .description{
                                                opacity: .5;
                                            }
                                        }
                                    }
                                    .market-list-panel-item-fav{
                                        align-items: center;
    
                                        .market-list-panel-item-fav-percent{
                                            color: #0DD72E;
                                            margin-right: .3rem;
                                        }
                                        .market-list-panel-item-fav-check{
                                            border-radius: 50%;
                                            width: 1.5rem;
                                            height: 1.5rem;
                                            border: 1px solid #b9b9b9;
                                            cursor: pointer;
                                            &.active{
                                                background-color: #0DD72E;
                                            }
                                        }
                                    }
                                    &:hover{
                                        background-color: #B6E0DD33;
                                        
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
    
    
}
/**
*************Utils
*/
/*Header DropDown*/

/**/
/*Modal*/
.custom-modal{
    
    .modal-dialog{
        .modal-content{
            border: 1px solid white;
            border-radius: 0px;
            color: white;
            background-color: $background-color;
            #modalchart{
                height: 80vh;
            }
        }
    }
}
/**/
/**/