$primary-color: #091329;
$primary-light-color:#37C4E9;
$secondary-color:white;
$background-color:#202020;


$sideBarWidth:7rem;
$normalFontSize:1.2rem;
$headerTop:4rem;
header {
    background: black;
    height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    nav{
        display: flex;
        justify-content: space-between;
        height: 100%;
        .part{
            align-self: center;
            a{
                margin-right: 1rem;
            }
        }
    }
}
.body {
    display: flex;
    .side-bar{
        width: $sideBarWidth;
        background: black;
        position: fixed;
        height: 100vh;
        padding-top: $headerTop;
        
        .side-bar-content{
            overflow-y: auto;
            height: 100%;
            &::-webkit-scrollbar{
                width: 0px;
                background: transparent;
            }
            .side-bar-item{
                width: $sideBarWidth;
                height: $sideBarWidth;
                align-items: center;
                display: flex;
                justify-content: center;
                cursor: pointer;
                border-top: 1px solid white;
    
                svg{
                    path{
                        stroke:'white';
                    }
                }
            }
        }
      
    }
    .content{
        // background-color: $background-color;
        width: 100%;
        margin-left: $sideBarWidth;
        background-color: #fafafa;
        .content-header{
            height: $headerTop;
            align-items: center;
            
            padding: 0px 20px;
            .header-greeting{
                font-size: 20px;
                text-decoration: underline;
            }
            .header-toolbar{
                // display: flex;
                font-size: 15px;
                color: #afafaf;
                span{
                    margin-left: .5rem;
                    cursor: pointer;
                }
            }
        }
        .content-body{
            height: calc(100vh - 4rem);
            .chart-body{
                height: 100%;
                .algo-list{
                    margin: 0px .4rem .4rem .4rem;
                    .algo-list-header{
                        font-size: 30px;
                        text-align: center;
                        margin-bottom: 1rem;
                    }
                    .algo-list-body{
                        overflow-y: auto;
                        height: calc(100vh - 5rem - 30px);
                        &::-webkit-scrollbar{
                            width: 0px;
                            background: transparent;
                        }
                        .algo-list-content{
                            .algo-list-item{
                                padding:.5rem;
                                margin-bottom: .5rem;
                                border:1px solid;
                                min-width: 17rem;
                                cursor: pointer;
                                background-color: white;
                                &.sell{
                                    border-color: #73C6BE;
                                }
                                &.buy{
                                    border-color: #C67373;
                                }
                            }
                        }
                        
                    }
                }
                .chart-panel{
                    border: 1px solid #aeaeae;
                    width: 100%;
                }
            }
        }
    }
    
    
}
/**
*************Utils
*/
/*Header DropDown*/

/**/
/*Modal*/
.custom-modal{
    
    .modal-dialog{
        .modal-content{
            border: 1px solid white;
            border-radius: 0px;
            color: white;
            background-color: $background-color;
            #modalchart{
                height: 80vh;
            }
        }
    }
}
/**/
/**/